body { background: #850b56; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 34px; display: flex; }
.block-shipping-0 { color: #f2e6f8; font-size: 20px; margin-bottom: 5px; }
.block-product-1 { color: #4da4f2; font-size: 18px; margin-bottom: 5px; }
.block-cache-2 { color: #dd167; font-size: 12px; margin-bottom: 5px; }
.block-filter-3 { color: #7ae8a2; font-size: 13px; margin-bottom: 5px; }
.block-invoice-4 { color: #c46cd2; font-size: 19px; margin-bottom: 5px; }
.block-uploader-5 { color: #a2894; font-size: 17px; margin-bottom: 5px; }